@model WebApplicationSistemaDeReclamos.Models.ViewModels.ReclamoViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
    <h1>Detalles</h1>
</div>
<hr />

<div class="col">
    <div class="card my-1">
        <div class="card-header bg-info">
            <span class="float-start">@Html.DisplayNameFor(model => model.Titulo): @Html.DisplayFor(model => model.Titulo)</span>
            <div class="float-end">@Html.ActionLink("Editar", "Edit", new { id = Model.Id },new{ @class="btn btn-success"})</div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <span class="float-start">@Html.DisplayNameFor(model => model.Id)</span>
                    <span class="float-end">@Html.DisplayFor(model => model.Id)</span>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-12">
                    <span class="float-start">@Html.DisplayNameFor(model => model.Descripcion)</span>
                    <span class="float-end">@Html.DisplayFor(model => model.Descripcion)</span>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-12">
                    <span class="float-start">@Html.DisplayNameFor(model => model.Estado)</span>
                    <span class="float-end">@Html.DisplayFor(model => model.Estado)</span>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-12">
                    <span class="float-start">@Html.DisplayNameFor(model => model.FechaAlta)</span>
                    <span class="float-end">@Html.DisplayFor(model => model.FechaAlta)</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center mt-3">
    <a asp-action="Index"><input class="btn btn-primary" value="Volver" /></a>
</div>
